Repository SO-Close-Vote-Reviewers/UserScripts, pull requests merged in 2024-07, with the labels that each got.

#225 Adding "CV-PLS old questions" room
  UnclosedRequestReview.user.js
Labels: enhancement, script: Unclosed Request Review

#220 CVRequestArchiver.user.js: Add brief usage comments
  CVRequestArchiver.user.js
Labels: enhancement, script: Request Archiver

#222 URRS: fixed invalid [del-pls] request on an answer rule
  UnclosedRequestReview.user.js
Labels: bug, script: Unclosed Request Review
